* {
    margin: 0;
    padding: 0;


}

html,
body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}




header {
    background-color: #e9e9e9;
    height: 200px;
    width: 100vw;
}

.title {
    display: block;
}

.logo {
    margin-top: -4.5%;
    display: inline-block;
    height: 350px;
    width: 460px;
    margin-left: 0%;
    margin-right: 4%;
}

.ContatoNav {
    position: relative;
    left: 35%;
    top: -125%;
    display: inline-flex;
    color: #0f26f7;

}

.ContatoNav h3 {

    margin-left: 40px;
    font-size: 1.5em;
    display: inline-flex;
    color: #040720;

}

.ContatoNav a {

    text-decoration: none;
    display: inline-flex;
    position: relative;

}

.nav {
    position: relative;
    left: 35.5%;
    top: -85%;
}

.nav a {
    text-decoration: none;
    color: #040720;
    margin-left: 2%;
    font-size: 1.5em;
}

.nav a:hover {
    font-size: 2em;
    transition-duration: 0.2s;
    color: rgb(0, 15, 46);
}


.zapIcon {
    position: relative;
    height: 30px;
    display: inline-flex;
}

.mobile-menu-icon {
    display: none;
    position: relative;
    top: -85%;
    right: -95%;
}

.mobile-menu {
    display: none;
    background-color: rgb(215, 226, 240);
}

.nav-informação a {

    text-decoration: none;
    color: #040720;
    margin-left: 2%;
    font-size: 1.5em;

}

.nav-informação a:hover {

    transition-duration: 0.2s;
    color: rgb(0, 15, 46);
}

@media(max-width: 768px) { 

    .mobile-menu-icon {
        display: none;
        position: relative;
        top: -85%;
        right: -94%;
    }
}

@media(max-width: 375px) { 

    .mobile-menu-icon {
        display: none;
        position: relative;
        top: -85%;
        right: -88%;
    }

    

}



@media(max-width: 831px) {

    .logo {
        margin-top: -10%;
        display: inline-block;
        height: 350px;
        width: 460px;
        margin-left: 0%;
        margin-right: 5%;
    }

}

@media(max-width: 1266px) {

    .ContatoNav {

        position: relative;
        left: 30%;
        top: -125%;
        display: inline-flex;

    }
}

@media(max-width: 1154px) {

    .ContatoNav {

        position: relative;
        left: 20%;
        top: -125%;
        display: inline-flex;

    }

}

@media screen and (max-width: 1063px) {

    .ContatoNav {
        display: none;
    }

    .nav {
        display: none;
    }

    nav-bar {
        padding: 1.5rem 4rem;
    }

    .mobile-menu-icon {
        display: block;
        ;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-informação {
        display: inline-block;
        padding-top: 1.2rem;
        margin-left: 10%;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: none;
    }


}



.containerproj .slider-container .slide {

    min-height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;

}

.containerproj .slider-container .slide .contentproj {

    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;

}

@keyframes slideContent {
    0% {
        opacep: 0;
        transform: translate(-50%);
    }

}

.containerproj .slider-container .slide .contentproj h3 {

    font-size: 35px;
    color: #116acf;
    font-family: 'Baloo Da 2', cursive;

}

.containerproj .slider-container .slide .contentproj p {

    font-size: 16px;
    color: #ffdecb;
    font-family: 'Baloo Da 2', cursive;
    width: 50%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.349);
}

.containerproj .slider-container .slide .contentproj .btn-ref {

    margin-top: 10px;
    display: inline-block;
    background: #116acf;
    color: black;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #111111;
    font-family: 'Baloo Da 2', cursive;
    text-decoration: none;
}

.containerproj .slider-container .slide .contentproj .btn-ref:hover {

    background: #ff6701;
    border: 2px solid #111111;
    color: white;
}

.containerproj .slider-container {
    display: none;
}

.containerproj .slider-container.active {
    display: block;
}

.containerproj .slider-container:nth-child(1) .slide {

    background: url(../Assents/Img/Slider/SliderI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;

}

.containerproj .slider-container:nth-child(2) .slide {

    background: url(../Assents/Img/Slider/SliderII.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;

}

.containerproj .slider-container:nth-child(3) .slide {

    background: url(../Assents/Img/Slider/SliderIII.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;

}

.containerproj #prev,
.containerproj #next {

    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    color: white;
    background: #116acf;
    height: 48px;
    width: 48px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproj #prev:hover,
.containerproj #next:hover {
    background: #ff6701;
}

.containerproj #prev {
    left: 50px;
}

.containerproj #next {
    right: 20px;
}

@media(max-width: 808px) {

    .containerproj #prev {
        top: 85%;
        right: 25%;
    }

    .containerproj #next {
        top: 85%;
        right: 0%;
    }

    .containerproj .slider-container .slide .contentproj p {

        font-size: 16px;
        margin: auto;

    }

    .containerproj .slider-container .slide .contentproj h3 {

        font-size: 30px;
        text-align: center;

    }

    .containerproj .slider-container .slide .contentproj .btn-ref {

        margin-left: 30%;
        margin-bottom: 20%;

    }
}



/*                   Produtos content                   */

.Produtos-content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80%;
    display: block;
}

.Title-Section {
    background-color: #ffffff;
    height: 10%;
    text-align: center;
    margin-top: 2%;
}

.produtos-h1 {
    color: #040720;
    font-weight: lighter;
    text-decoration: wavy;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif
}

.Section-Photos1 {
    background-color: #ffffff;
    height: 50%;


}

.Section-Photos2 {
    background-color: #ffffff;
    height: 50%;
}

.Content1,
.Content2,
.Content3,
.Content4,
.Content5,
.Content6 {

    background-color: #ffffff;
    display: inline-block;
    margin-right: 5%;
    margin-top: 3%;
    height: 300px;
    width: 300px;


}

.Content1,
.Content4 {

    margin-left: 18%;

}

.imageimC1,
.imageimC2,
.imageimC3,
.imageimC4,
.imageimC5,
.imageimC6 {
    background-color: white;
    height: 63%;

}

.img-c-1,
.img-c-2,
.img-c-3,
.img-c-4,
.img-c-5,
.img-c-6 {

    height: 100%;
    width: 100%;

}

.informação-Name {

    text-align: center;
    color: #050a3b;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif
}

.S1 {
    margin-left: 33%;
    margin-top: 10px;
    display: inline-block;
    background: #5b8ac0;
    color: black;
    font-size: 17px;
    padding: 4px 30px;
    border-radius: 5px;
    border: 2px solid #111111;
    font-family: 'Baloo Da 2', cursive;
    text-decoration: none;
}

.S1:hover {
    margin-left: 33%;
    margin-top: 10px;
    display: inline-block;
    background: #ff6701;
    color: black;
    font-size: 17px;
    padding: 4px 30px;
    border-radius: 5px;
    border: 2px solid #111111;
    font-family: 'Baloo Da 2', cursive;
    text-decoration: none;
}

@media(max-width: 1355px) {

    .imageimC1,
    .imageimC2,
    .imageimC3,
    .imageimC4,
    .imageimC5,
    .imageimC6 {
        background-color: white;
        height: 63%;

    }

    .Content1,
    .Content4 {

        margin-left: 10%;

    }
}

@media(max-width: 1197px) {

    .Content1,
    .Content4 {

        margin-left: 5%;

    }


}

@media(max-width: 1125px) {

    .Content1,
    .Content4 {

        margin-left: 1%;

    }


}

@media(max-width: 1087px) {

    .Content1,
    .Content2,
    .Content3,
    .Content4,
    .Content5,
    .Content6 {

        background-color: #ffffff;
        margin-left: 36%;
        margin-top: 5%;
        margin-bottom: 7%;
        height: 300px;
        width: 300px;
        display: block;


    }

    .Produtos-content {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
    }

}

@media(max-width: 523px) {

    .Content1,
    .Content2,
    .Content3,
    .Content4,
    .Content5,
    .Content6 {

        background-color: #ffffff;
        margin-left: 15%;
        margin-top: 5%;
        margin-bottom: 7%;
        height: 300px;
        width: 300px;
        display: block;


    }

}

@media(max-width: 357px) {

    .Content1,
    .Content2,
    .Content3,
    .Content4,
    .Content5,
    .Content6 {

        background-color: #ffffff;
        margin-left: 2%;
        margin-top: 5%;
        margin-bottom: 7%;
        height: 300px;
        width: 300px;
        display: block;


    }

}

.footer {
    display: block;
    background-color: #e9e9e9;
    width: 100%;
    height: 50%;
    margin-top: 5%;
}

.f1 {

    display: inline-block;
    width: 200px;
    margin-left: 20%;
}

.silacoF {
    width: 100%;
    height: 200px;
    margin-top: 5%;
}

.FotoFL {
    position: relative;
    top: -10%;
}

.f2 {

    margin-top: 20px;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-left: 20px;
    vertical-align: top;
}

.f3 {
    vertical-align: top;
    margin-top: 20px;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-left: 20px;


}

.titlef {

    margin-top: 5%;
    width: 100%;
    height: 40px;

}

.contf2 {

    margin-top: 4%;
    width: 100%;
    height: 200px;
}

.titlef3 {

    margin-top: 2%;
    width: 100%;
    height: 40px;

}

.contf3 {

    margin-top: 4%;
    width: 100%;
    height: 200px;
}


@media(max-width: 1057px) {

    .f1 {
        margin-left: 10%;
    }

}

@media(max-width: 945px) {
    .f1 {
        margin-left: 5%;
    }
}


@media(max-width: 893px) {

    .f1 {
        margin-left: 1%;
    }
}

@media(max-width: 858px) {

    .f2,
    .f3 {

        background-color: #e9e9e9;
        display: block;
        height: 100%;
        width: 300px;
        margin-left: 40%;

    }

    .f1 {
        display: none;
    }

    .footer {
        display: block;
        background-color: #e9e9e9;;
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }

    .FotoFL {
        display: none;
    }

    .silacoF {
        display: none;
    }

}

@media(max-width: 523px) {

    .f1,
    .f2,
    .f3,
    .f4 {


        background-color: #e9e9e9;
        display: block;
        height: 100%;
        width: 300px;
        margin-left: 10%;

    }
}

@media(max-width: 768px) {

    .f3 {

        background-color: #e9e9e9;
        display: block;
        height: 100%;
        width: 300px;
        margin-top: -10%;

    }

}

@media(max-width: 375px) {

    .f3 {

        background-color: #e9e9e9;
        display: block;
        height: 100%;
        width: 300px;
        margin-top: -20%;

    }

}