* {
    margin: 0;
    padding: 0;


}

html,
body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}




header {
    background-color: #e9e9e9;
    height: 200px;
    width: 100vw;
}

.title {
    display: block;
}

.logo {
    margin-top: -4.5%;
    display: inline-block;
    height: 350px;
    width: 460px;
    margin-left: 0%;
    margin-right: 4%;
}

.ContatoNav {
    position: relative;
    left: 35%;
    top: -125%;
    display: inline-flex;
    color: #0f26f7;

}

.ContatoNav h3 {

    margin-left: 40px;
    font-size: 1.5em;
    display: inline-flex;
    color: #040720;

}

.ContatoNav a {

    text-decoration: none;
    display: inline-flex;
    position: relative;

}

.nav {
    position: relative;
    left: 35.5%;
    top: -85%;
}

.nav a {
    text-decoration: none;
    color: #040720;
    margin-left: 2%;
    font-size: 1.5em;
}

.nav a:hover {
    font-size: 2em;
    transition-duration: 0.2s;
    color: rgb(0, 15, 46);
}


.zapIcon {
    position: relative;
    height: 30px;
    display: inline-flex;
}

.mobile-menu-icon {
    display: none;
    position: relative;
    top: -85%;
    right: -95%;
}

.mobile-menu {
    display: none;
    background-color: rgb(215, 226, 240);
}

.nav-informação a {

    text-decoration: none;
    color: #040720;
    margin-left: 2%;
    font-size: 1.5em;

}

.nav-informação a:hover {

    transition-duration: 0.2s;
    color: rgb(0, 15, 46);
}

@media(max-width: 768px) { 

    .mobile-menu-icon {
        display: none;
        position: relative;
        top: -85%;
        right: -94%;
    }
}

@media(max-width: 375px) { 

    .mobile-menu-icon {
        display: none;
        position: relative;
        top: -85%;
        right: -88%;
    }

    

}



@media(max-width: 831px) {

    .logo {
        margin-top: -10%;
        display: inline-block;
        height: 350px;
        width: 460px;
        margin-left: 0%;
        margin-right: 5%;
    }

}

@media(max-width: 1266px) {

    .ContatoNav {

        position: relative;
        left: 30%;
        top: -125%;
        display: inline-flex;

    }
}

@media(max-width: 1154px) {

    .ContatoNav {

        position: relative;
        left: 20%;
        top: -125%;
        display: inline-flex;

    }

}

@media screen and (max-width: 1063px) {

    .ContatoNav {
        display: none;
    }

    .nav {
        display: none;
    }

    nav-bar {
        padding: 1.5rem 4rem;
    }

    .mobile-menu-icon {
        display: block;
        ;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-informação {
        display: inline-block;
        padding-top: 1.2rem;
        margin-left: 10%;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: none;
    }


}

.containerproj .slider-container .slide {

    min-height: 100px;
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;

}

.containerproj .slider-container .slide .contentproj {

    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;

}

@keyframes slideContent {
    0% {
        opacep: 0;
        transform: translate(-50%);
    }

}

.containerproj .slider-container {
    display: none;
    width: 90%;
}

.containerproj .slider-container.active {
    display: inline-block;
    width: 30%;
    margin-top: 15%;
    margin-left: 5%;
}

.containerproj .slider-container:nth-child(1) .slide {

    background: url(../Assents/Img/Slider/SliderI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2%;
    margin-top: 2%;
    width: 100%;
    height: 40vh;

}

.containerproj .slider-container:nth-child(2) .slide {

    background: url(../Assents/Img/Slider/SliderII.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2%;
    margin-top: 2%;
    width: 100%;
    height: 40vh;

}

.containerproj .slider-container:nth-child(3) .slide {

    background: url(../Assents/Img/Slider/SliderIII.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2%;
    margin-top: 2%;
    width: 100%;
    height: 40vh;
}

.SobreContent {
    height: 20%;
    width: 600px;
    vertical-align: top;
    display: inline-block;
    margin-top: 3.5%;
    margin-left: 10%;
}

.Empresa {
    text-align: center;
    display: block;
}

.hr {
    background-color: black;
}

.text-perfil>p {

    margin-bottom: 5%;

}

.Hist {
    margin-top: 4%;
}

.Hist>h1 {
    text-align: center;
}

.Hist>p {
    margin-top: 3%;
    text-align: justify;
    margin-left: 2%;
}




.Qualidades {
    display: block;
    width: 100%;
    margin-top: 5%;
    background-color: rgb(236, 232, 226);

}

.At-Content {
    display: inline-block;
    margin-right: 20%;
    margin-left: 10%;
    text-align: center;

}

.Star-content {
    display: inline-block;
    margin-right: 15%;
    text-align: center;
}

.pay-content {
    display: inline-block;
    text-align: center;
}

@media(max-width: 1087px) {

    .containerproj .slider-container.active {
        display: block;
        width: 50%;
        margin: auto;
        margin-top: 0%;
    }

    .Hist {
        display: block;
        margin-top: 5%;
    }

}

@media(max-width: 768px) {

    .containerproj .slider-container.active {
        display: block;
        width: 100%;
        margin-left: -20px;
        margin-top: -2%;
        margin-bottom: 5%;
    }

    .Hist {
        display: block;
        margin-top: 5%;
    }

    .SobreContent {
        height: 10%;
        width: 355px;
        vertical-align: top;
        display: block;
        margin: auto;
    }

    .Qualidades {
        display: block;
        width: 100%;
        margin-top: 5%;
        background-color: rgb(236, 232, 226);
        margin-bottom: -2%;
    
    }
    
    .At-Content {
        display: inline-block;
        margin-right: 5%;
        margin-left: 5%;
        text-align: center;
    
    }
    
    .Star-content {
        display: inline-block;
        margin-right: 5%;
        text-align: center;
    }
    
    .pay-content {
        display: inline-block;
        text-align: center;
    }

}

@media(max-width: 375px) {

    .containerproj .slider-container.active {
        display: block;
        width: 100%;
        margin-left: -20px;
        margin-top: -2%;
    }

    .Hist {
        display: block;
        margin-top: 5%;
    }

    .SobreContent {
        height: 10%;
        width: 355px;
        vertical-align: top;
        display: inline-block;
        margin-top: 3.5%;
        margin-left: 2%;
    }

    .Qualidades {
        display: block;
        width: 100%;
        margin-top: 5%;
        background-color: rgb(236, 232, 226);
        margin-bottom: -5%;
    }
    
    .At-Content {
        display: block;
        margin: auto;
    
    }
    
    .Star-content {
        display: block;
        margin: auto;
        text-align: center;
    }
    
    .pay-content {
        display: block;
        margin: auto;
        text-align: center;
    }

}

@media screen and (max-width: 360px) { 

    .containerproj .slider-container.active {
        display: block;
        width: 100%;
        margin-top: -2%;
        margin-right: 70%;
    }

    .Hist {
        display: block;
        margin-top: 5%;
    } 

    .Empresa {
        text-align: left;
        display: block;
    }

}


.footer {
    display: block;
    background-color: #e9e9e9;
    width: 100%;
    height: 50%;
}

.f1 {

    display: inline-block;
    width: 200px;
    margin-left: 20%;
}

.silacoF {
    width: 100%;
    height: 200px;
    margin-top: 5%;
}

.FotoFL {
    position: relative;
    top: -10%;
}

.f2 {

    margin-top: 0px;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-left: 20px;
    vertical-align: top;
}

.f3 {
    vertical-align: top;
    margin-top: 20px;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-left: 20px;


}

.titlef {

    margin-top: 5%;
    width: 100%;
    height: 40px;

}

.contf2 {

    margin-top: 4%;
    width: 100%;
    height: 200px;
}

.titlef3 {

    margin-top: 2%;
    width: 100%;
    height: 40px;

}

.contf3 {

    margin-top: 4%;
    width: 100%;
    height: 200px;
}


@media(max-width: 1057px) {

    .f1 {
        margin-left: 10%;
    }

}

@media(max-width: 945px) {
    .f1 {
        margin-left: 5%;
    }
}


@media(max-width: 893px) {

    .f1 {
        margin-left: 1%;
    }
}

@media(max-width: 858px) {

    .f2,
    .f3 {

        background-color: #e9e9e9;
        display: block;
        height: 45%;
        width: 300px;
        margin-left: 40%;

    }

    .f1 {
        display: none;
    }

    .footer {
        display: block;
        background-color: #e9e9e9;
        width: 100%;
        height: 90%;
        margin-top: 0%;
    }

    .FotoFL {
        display: none;
    }

    .silacoF {
        display: none;
    }

}

@media(max-width: 523px) {

    .f1,
    .f2,
    .f3,
    .f4 {


        margin: auto;
        margin-top: 0%;

    }

}